<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:inline="javascript">
        function getUserSnippets(json) {

            var jsObj = JSON.parse(json);
            jsObj.forEach( (i) => {
                var pl_name = JSON.stringify(i.pl_name);
                pl_name = pl_name.slice(1, pl_name.length - 1);
                var name = JSON.stringify(i.snippet_name);
                name = name.slice(1, name.length - 1);
                var id = i.user_id;
                var reference = "/snippets/" + pl_name + "/" +
                    id + "-" + name;

            document.body.innerHTML += "<li><a href=" + reference + ">" + name + "</a></li>";
        });
        }
    </script>
    <title>User Info</title>
</head>
<body th:onload ="'getUserSnippets(\'' + ${jsonSnippets} + '\');'">
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>User Info Page</h2>
<h3>User name : <span th:utext="${userName}"></span></h3>
<br/><br/>

</body>
</html>