<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/js/newStyle.css}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <div class="navBar">
        <a href="/" class="logo" title="Main Page">SCS</a>
        <div class="searchBox">
            <form action="" style="display: none">
                <input type="input" name="search" id="search" placeholder="Search for...">
                <button class="icon"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <a href="" class="headlink">Registration</a>
        <div class="signIn">
            <button class="login-button"><i class="fas fa-key"></i></button>
            <div class="login-content">
                <form class="login-form" name='f' th:action="@{/j_spring_security_check}" method='POST'>
                    <input id="username" type="text" name='username' placeholder="Ваш логин" required>
                    <input id="password" type="password" name='password' placeholder="Пароль" required>
                    <div class="buttonBlock">
                        <input type="submit" id="submit" value="Войти">
                        <label><input type="checkbox" value="Remember me"><div>Remember me</div></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <form class="registerContainer" th:action="@{/register}" th:object="${appUserForm}" method="POST" name="newSnippet">
        <p>Registration</p>
        <div><input class="inputWindow regWindow" type="text" name="nickname" id="f1" required autocomplete="nickname" placeholder="Login" th:field="*{userName}">
            <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">..</span></div>
        <div><input class="inputWindow regWindow" type="email" name="mail" id="f2" required autocomplete="e-mail" placeholder="Email" th:field="*{email}">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">..</span></div>
        <div><input class="inputWindow regWindow" type="password" name="pass1" id="f3" required autocomplete="new-password" placeholder="Password" th:field="*{password}">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">..</span></div>
        <div><input class="inputWindow regWindow" type="password" name="pass2" id="f4" required placeholder="Confirm Password" th:field="*{confirmPassword}">
            <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">..</span></div>
        <div class="acceptionBlock">
            <label><input class="acception" type="checkbox" name="acception" required>I have read and accept <a href="/termOfService/termOfService.txt">Terms of Service</a></label>
            <input class="button" type="submit" value="Register">
        </div>
    </form>
</div>
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/ajax.js}"></script>
<script type="text/javascript" th:src="@{/js/LOX.js}"></script>
</body>
</html>