<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:include="/_menu"></th:block>
<textarea readonly rows="25" cols="45"
          name="notes" th:inline="text">[[${codeText}]]
</textarea>
<button th:onclick="'changeState(\'' + ${user_id} + '\', \'' + ${snippet_name} + '\');'">
    LOIS
</button>

<button th:if="${#request.isUserInRole('ROLE_ADMIN')}")}
        th:onclick="'approveSnippet(\'' + ${#request.getRequestURI()} + '\')'">Approve snippet</button>
<button th:if="${#request.isUserInRole('ROLE_ADMIN')}")}
        th:onclick="'deleteSnippet(\'' + ${#request.getRequestURI()} + '\')'">Delete snippet</button>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
<script type="text/javascript" th:src="@{/js/likes.js}"></script>
<script type="text/javascript" th:src="@{/js/adminFunctions.js}"></script>
</body>
</html>